.move-in {
  animation: move-in 0.2s forwards ease-in;
}
.move-out {
  animation: move-in 0.2s forwards ease-in reverse;
}
.move-up {
  animation: move-up 0.2s forwards ease-in;
}
.move-down {
  animation: move-up 0.2s forwards ease-in reverse;
}
.fade-down {
  animation: fade-down 0.5s forwards ease-in;
}
.fade-up {
  animation: fade-down 0.5s forwards ease-in reverse;
}

.bounce-in {
  animation: bounce-in 0.6s forwards ease-in;
}

.bounce-out {
  animation: bounce-in 0.6s forwards ease-in reverse;
}

.shake {
  animation: shake 0.25s infinite;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes move-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes move-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes fade-down {
  from {
    transform: translateY(-10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
