$primary-color: #083830;
$secondary-color: #e4f6f8;
$dark-color: #444;
$light-color: #f4fdff;
$error-color: #ff4444;
$warn-color: #ffbb33;
$info-color: #33b5e5;
$success-color: #00c851;
$shadow: 0.5px 0.5px 10px 1px rgba(8, 56, 48, 0.1);
